

/* active links  */
.activeLink {
    color: rgb(251, 189, 3) !important;

}

/* large nav links */
.large_nav_links{
    font-size: 1.2rem; /* Adjust size as needed */

}

/* body background  */
.gray_background{
    background-color: #fcf9f9;
    min-height: 100vh;
}